@charset "utf-8";
/* CSS Document */

.desabilitado .dropdown-toggle{
	cursor: not-allowed!important;
	background-color: #eef1f5!important;
	color: #333!important;
	border: solid 1px #c2cad8!important;
}