<span style='color: #000' title='Frames'>     3</span><span style='color: #009' title='Memory'>   4608.00 KB</span><span style='color: #900' title='Time'>    117.01 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />