.page-header.navbar {
  background-color: #1f201b;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
  color: #79869a;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
  background-color: #36c6d3;
  color: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover,.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
  background-color: #efe104;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle a:hover {
	color: #000;
}


.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover>i,.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle>i {
  color: #a4aebb;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
  border-color: #e7eaf0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu:after {
  border-bottom-color: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
  background: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
  color: #62878f;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
  color: #337ab7;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a:hover {
  color: #23527c;
  text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
  border-bottom: 1px solid #EFF2F6!important;
  color: #888;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover {
  background: #f8f9fa;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time {
  background: #f1f1f1;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a:hover .time {
  background: #e4e4e4;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-toggle>.circle {
  background-color: #36c6d3;
  color: #fff;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-toggle>.corner {
  border-color: transparent transparent transparent #36c6d3;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
  color: #5b9bd1;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
  color: #c6cfda;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username:hover{
	color: #000 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
  background-color: #dfe2e9;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
  width: 195px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu {
  background: #3f4f62;
  border: 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu:after {
  border-bottom-color: #3f4f62;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu>li.external {
  background: #2f3b49;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu>li.external>h3 {
  color: #adbaca;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu>li.external>a:hover {
  color: #5496cf;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a,.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
  color: #bcc7d4;
  border-bottom: 1px solid #4b5e75!important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i,.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
  color: #9dadc0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a:hover,.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:hover {
  background: #47596e;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
  border-bottom: 0!important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li.divider {
  background: #4b5e75;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list>li>a .time {
  background: #354353;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list>li>a:hover .time {
  background: #1f201b;
}

.page-header.navbar .search-form {
  background: #232c37;
}

.page-header.navbar .search-form.open,.page-header.navbar .search-form:hover {
  background: #3f4f62;
}

.page-header.navbar .search-form .input-group .form-control {
  color: #959fad;
}

.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
  color: #929cab;
  opacity: 1;
}

.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
  color: #929cab;
}

.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
  color: #929cab;
}

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit>i {
  color: #959fad;
}

.page-header.navbar .menu-toggler>span,.page-header.navbar .menu-toggler>span:after,.page-header.navbar .menu-toggler>span:before,.page-header.navbar .menu-toggler>span:hover,.page-header.navbar .menu-toggler>span:hover:after,.page-header.navbar .menu-toggler>span:hover:before {
  background: #a7b5c6;
}

.page-header.navbar .menu-toggler.th-toggle-exit>span {
  background-color: transparent!important;
}

.page-header.navbar .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu {
  box-shadow: 5px 5px rgba(63,79,98,.2);
}

.page-header.navbar .hor-menu .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content .mega-menu-submenu li>h3,.page-header.navbar .hor-menu .navbar-nav>li>a {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav>li>a>i {
  color: #788ea8;
}

.page-header.navbar .hor-menu .navbar-nav>li.open>a,.page-header.navbar .hor-menu .navbar-nav>li:hover>a,.page-header.navbar .hor-menu .navbar-nav>li>a:hover {
  color: #d5dce4;
  background: #3f4f62!important;
}

.page-header.navbar .hor-menu .navbar-nav>li.open>a>i,.page-header.navbar .hor-menu .navbar-nav>li:hover>a>i,.page-header.navbar .hor-menu .navbar-nav>li>a:hover>i {
  color: #889bb2;
}

.page-header.navbar .hor-menu .navbar-nav>li.active>a,.page-header.navbar .hor-menu .navbar-nav>li.current>a {
  color: #fff;
  background: #36c6d3!important;
}

.page-header.navbar .hor-menu .navbar-nav>li.active>a>i,.page-header.navbar .hor-menu .navbar-nav>li.current>a>i {
  color: #788ea8;
}

.page-header.navbar .hor-menu .navbar-nav>li.active .selected,.page-header.navbar .hor-menu .navbar-nav>li.current .selected {
  border-top: 6px solid #36c6d3;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu {
  box-shadow: 5px 5px rgba(63,79,98,.2);
  background: #3f4f62;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a>i {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li:hover>a {
  color: #f1f3f6;
  background: #47596e;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li:hover>a>i {
  color: #f1f3f6;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.active>a,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.active>a:hover,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.current>a,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.current>a:hover {
  color: #f1f3f6;
  background: #47596e;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.active>a:hover>i,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.active>a>i,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.current>a:hover>i,.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.current>a>i {
  color: #f1f3f6;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li.divider {
  background-color: #495c72;
}

.page-header.navbar .hor-menu .navbar-nav>li .dropdown-submenu>a:after {
  color: #c6cfda;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.mega-menu-dropdown>.dropdown-menu {
  box-shadow: 5px 5px rgba(102,102,102,.1);
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.mega-menu-dropdown>.dropdown-menu .mega-menu-content .mega-menu-submenu li>h3 {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a {
  color: #c6cfda;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a>i {
  color: #788ea8;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover {
  color: #d5dce4;
  background: #3f4f62;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li:hover>a>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>a:hover>i {
  color: #889bb2;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.open>a {
  color: #333!important;
  background: #fff!important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.open>a>i {
  color: #333!important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.active>a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.active>a:hover,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.current>a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.current>a:hover {
  color: #fff;
  background: #36c6d3;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.active>a:hover>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.active>a>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.current>a:hover>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li.current>a>i {
  color: #788ea8;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu {
  box-shadow: 5px 5px rgba(102,102,102,.1);
  background: #fff;
  border: 1px solid #f2f2f2;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li>a {
  color: #000;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li>a>i {
  color: #888;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li:hover>a {
  color: #000;
  background: #f5f5f5;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li:hover>a>i {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.active>a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.active>a:hover,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.current>a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.current>a:hover {
  color: #000;
  background: #f5f5f5;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.active>a:hover>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.active>a>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.current>a:hover>i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.current>a>i {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li .dropdown-menu li.divider {
  background-color: #f5f5f5;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav>li>.dropdown-menu {
  border-top: 0;
}

.page-sidebar,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  background-color: #1f201b;
}

.page-sidebar .page-sidebar-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
  border-top: 1px solid #3d4957;
  color: #ebe503;
}

.page-sidebar .page-sidebar-menu>li>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-],.page-sidebar .page-sidebar-menu>li>a>i[class^=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-] {
  color: #ebe503;
}

.page-sidebar .page-sidebar-menu>li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow:before {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu>li.heading>h3,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
  color: #708096;
}

.page-sidebar .page-sidebar-menu>li.open>a,.page-sidebar .page-sidebar-menu>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
  background: #ebe503;
  color: #000;
}

.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.open>a>.arrow:before,.page-sidebar .page-sidebar-menu>li.open>a>i,.page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before,.page-sidebar .page-sidebar-menu>li:hover>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu>li.active.open>a,.page-sidebar .page-sidebar-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
  background: #c8c7cb;
  border-top-color: transparent;
  color: #1f201b;
}

.page-sidebar .page-sidebar-menu>li.active.open>a:hover,.page-sidebar .page-sidebar-menu>li.active>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
  background: #ebe503;
  color: #1f201b;
}

.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before,.page-sidebar .page-sidebar-menu>li.active.open>a>i,.page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu>li.active>a>.arrow:before,.page-sidebar .page-sidebar-menu>li.active>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i {
  color: #1f201b;
}

.page-sidebar .page-sidebar-menu>li.active+li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active+li>a {
  border-top-color: transparent;
}

.page-sidebar .page-sidebar-menu>li.active.open+li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open+li>a {
  border-top-color: #3d4957;
}

.page-sidebar .page-sidebar-menu>li:last-child>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:last-child>a {
  border-bottom: 1px solid transparent!important;
}

.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li:hover>a>.arrow:before,.page-sidebar .page-sidebar-menu li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before {
  color: #ebe503;
}

.page-sidebar .page-sidebar-menu li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active>a>.arrow:before {
  color: #fff;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu,.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu {
  background-color: #364150;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
  color:#e1e2e2;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-] {
  color: #6b788b;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow:before {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: #c8c7cb!important;
    color: #000;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i {
  color: #959fae;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before {
  color: #606C7D;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li:hover>a {
  background: #3a4656;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a {
  background: #3e4b5c;
  border-left: 4px solid #36c6d3;
  color: #f1f1f1;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover {
  border-left: 4px solid #36c6d3;
  background: #3a4656;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow.open:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>i,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow.open:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>.arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a>i {
  color: #eee;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn>i,.page-sidebar-closed .page-sidebar .sidebar-search.open .remove>i,.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove>i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn>i {
  color: #4e5d6f;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
  background: #3a4656;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
  background: #3e4b5c!important;
}

.page-sidebar .sidebar-toggler,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
  background: #2c3541;
}

.page-sidebar .sidebar-toggler>span,.page-sidebar .sidebar-toggler>span:after,.page-sidebar .sidebar-toggler>span:before,.page-sidebar .sidebar-toggler>span:hover,.page-sidebar .sidebar-toggler>span:hover:after,.page-sidebar .sidebar-toggler>span:hover:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span:after,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span:hover:after,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler>span:hover:before {
  background: #a7b5c6;
}

.page-sidebar .sidebar-toggler.th-toggle-exit>span,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler.th-toggle-exit>span {
  background-color: transparent!important;
}

.page-sidebar .sidebar-toggler:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler:hover {
  background: #212832;
}

.page-sidebar .sidebar-search .input-group,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
  border-bottom: 1px solid #435060;
}

.page-sidebar .sidebar-search .input-group .form-control,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
  background-color: #364150;
  color: #4e5d6f;
}

.page-sidebar .sidebar-search .input-group .form-control::-moz-placeholder,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-moz-placeholder {
  color: #4e5d6f;
  opacity: 1;
}

.page-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control:-ms-input-placeholder {
  color: #4e5d6f;
}

.page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder {
  color: #4e5d6f;
}

.page-sidebar .sidebar-search.sidebar-search-bordered .input-group,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-bordered .input-group {
  border: 1px solid #435060;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group,.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group {
  background-color: #364150;
}

.page-sidebar-closed .page-sidebar .sidebar-search.sidebar-search-solid .input-group,.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group {
  background: 0 0;
}

.page-sidebar .sidebar-search.sidebar-search-solid .input-group,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group {
  border: 1px solid #2c3541;
  background: #2c3541;
}

.page-sidebar .sidebar-search.sidebar-search-solid .input-group .form-control,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group .form-control {
  background: #2c3541;
}

.page-sidebar .sidebar-search.sidebar-search-solid.open .input-group,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group {
  border: 1px solid #364150;
  background: #364150;
}

.page-sidebar .sidebar-search.sidebar-search-solid.open .input-group .form-control,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control {
  background: #364150;
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light>li.active>a,.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover {
  border-left: 0;
  border-right: 4px solid #36c6d3;
}

.page-footer .page-footer-inner {
  color: #efe104;
}

.page-footer-fixed .page-footer {
  background-color: #28303b;
}

@media (min-width:992px) {
  .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu {
    box-shadow: 5px 5px rgba(44,53,66,.2);
  }

  .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu.sidebar-search-wrapper,.page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu.sidebar-toggler-wrapper {
    box-shadow: none;
  }

  .page-sidebar-menu.page-sidebar-menu-closed>li:hover {
    box-shadow: 5px 5px rgba(44,53,66,.2);
  }

  .page-sidebar-menu.page-sidebar-menu-closed>li:hover.sidebar-search-wrapper,.page-sidebar-menu.page-sidebar-menu-closed>li:hover.sidebar-toggler-wrapper {
    box-shadow: none;
  }

  .page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu {
    box-shadow: 5px 5px rgba(44,53,66,.2);
  }

  .page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu.sidebar-search-wrapper,.page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu.sidebar-toggler-wrapper {
    box-shadow: none;
  }

  .page-sidebar-menu.page-sidebar-menu-light.page-sidebar-menu-closed>li.heading {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #3d4957!important;
  }

  .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
    border-bottom: 0;
  }

  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
    background-color: #fff;
  }

  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
    color: #333;
  }

  .page-boxed {
    background-color: #303a47!important;
  }

  .page-boxed .page-container {
    background-color: #364150;
    border-left: 1px solid #3d4957;
    border-bottom: 1px solid #3d4957;
  }

  .page-boxed.page-sidebar-reversed .page-container {
    border-left: 0;
    border-right: 1px solid #3d4957;
  }

  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }

  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #3d4957;
  }

  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
    border-right: 1px solid #3d4957;
    border-left: 0;
  }

  .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer {
    background-color: #303a47!important;
  }

  .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer .page-footer-inner {
    color: #98a6ba;
  }

  .page-sidebar-menu-hover-submenu li:hover a>.arrow {
    border-right: 8px solid #323c4b;
  }

  .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a>.arrow {
    border-left: 8px solid #323c4b;
  }

  .page-sidebar-menu-hover-submenu li:hover>.sub-menu {
    background: #323c4b!important;
  }
}

@media (max-width:991px) {
  .page-sidebar {
    background-color: #1f201b;
  }

  .page-sidebar .page-sidebar-menu>li>a {
    border-top: 1px solid #c2c2c2;
  }

  .page-sidebar .page-sidebar-menu>li.open>a,.page-sidebar .page-sidebar-menu>li:hover>a {
    background: #ebe403;
  }

  .page-sidebar .page-sidebar-menu>li:last-child>a {
    border-bottom: 0!important;
  }

  .page-sidebar .page-sidebar-menu .sidebar-search input,.page-sidebar .page-sidebar-menu>li .sub-menu {
    background-color: #1f201b!important;
  }

  .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a {
    background: #ebe403;
  }

  .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: #1f201b!important;
  }

  .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
    background: #ebe403!important;
  }
}

@media (max-width:480px) {
  .page-header.navbar .top-menu {
    background-color: #1f201b;
  }

  .page-header-fixed-mobile .page-header.navbar .top-menu {
    background-color: #1f201b;
  }

  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    background-color: #1f201b;
  }

  .page-header-fixed-mobile .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    background: 0 0;
  }

  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle:hover {
    background-color: #1f201b;
  }
}

body {
  background-color: #1f201b;
}

.block-spinner-bar>div,.page-spinner-bar>div {
  background: #4bccd8;
}


/***COMPONENTS.MIN.CSS****/
.btn.green:not(.btn-outline) {
    color: #1f201b;
    background-color: #efe104;
    border-color: #1f201b;
}

.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {
    color: #eae502;
    background-color: #1f201b;
    border-color: #d2cb04;
}


.btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open>.btn.green:not(.btn-outline).dropdown-toggle.focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:focus, .open>.btn.green:not(.btn-outline).dropdown-toggle:hover {
    color: #eae502;
    background-color: #1f201b;
    border-color: #d2cb04;
}

.tabbable-line>.nav-tabs>li.active{
    border-bottom: 4px solid #efe104;
    position: relative;
}

.font-blue-madison {
    color: #1f201b!important;
}

.profile-usermenu ul li.active a {
    color: #1f201b !important;
    background-color: #f6f9fb;
    border-left: 2px solid #efe104 !important;
    margin-left: -2px;
}

.btn.green:not(.btn-outline).active, .btn.green:not(.btn-outline):active, .btn.green:not(.btn-outline):hover, .open>.btn.green:not(.btn-outline).dropdown-toggle {
	color: #1f201b;
    background-color: #eae502;
    border-color: #d2cb04;
}

.btn.btn-outline.green {
    border-color: #1f201b;
    color: #1f201b;
    background: 0 0;
}

.btn.btn-outline.green.active, .btn.btn-outline.green:active, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:focus, .btn.btn-outline.green:hover{
	border-color: #d2cb04;
    color: #1f201b;
    background-color: #eae502;
}

.page-container-bg-solid .page-content {
    background: #eef1f5;
    /*background-image: url(../../../../../../arquivos/logo/logoConceptBG1.png);*/
    background-repeat: no-repeat;
    background-position: center;
}

/*.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eae502;
    background-color: #eae502;
    margin: -12px -20px 0;
    padding-left: 44%;
    padding-top: 4px;
}*/

.table-toolbar {
	display: none;
}

#filterConcept{
	background-image: url(../../../../../../arquivos/logo/icon-filter.svg);
	background-repeat: no-repeat;
	background-size: 28px;
    float: right;
    width: 85px;
    height: 30px;
    font-size: 17px;
    text-align: right;
    padding-top: 5px;
    background-position: 0 3px;
    color: #000;
    font-weight: bold;
}

#searchResult{
	font-weight: bold;
	border: 2px solid #000;
	padding: 4px;
	border-radius: 7px !important;
	float: left;
}

.h3product{
	font-weight: bold;
	font-size: 110%;
}

.h4product{
	font-weight: bold;
	font-size: 100%;
}

.h5product{
	margin-top: -4px;
	font-weight: 600;
	color: #bbb;
	font-size: 80%;
}

.page-quick-sidebar-toggler>i {
    color: #1c1c1d;
    font-size: 17px;
}

.portlet.light>.portlet-title>.caption {
    padding: 10px 10px 10px 0;
    width: 100%;
}

.valuesProducts{
	width: 100%;
	text-align: justify;
}

#products a {
	color: #1f201b !important;
	cursor: pointer;
}

.page-quick-sidebar-open .page-quick-sidebar-wrapper {
    background-color: #eee;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	z-index: 3;
    color: #000;
    background-color: #eae502;
    border-color: #ddd;
    cursor: default;
}

.btn.yellow:not(.btn-outline) {
    color: #1f201c;
    background-color: #eae501;
    border-color: #dad300;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    background: 0 0;
    border-bottom: 4px solid #c7c7c9;
}

.alert-success {
    background-color: #abedb0;
    border-color: #afedab;
    color: #2fb027;
}

.btn.green:not(.btn-outline).focus, .btn.green:not(.btn-outline):focus {
    color: #FFF;
    background-color: #26ab2a;
    border-color: #296d18;
}

.middle-content{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.portlet.bordered, .portlet.light.bordered{
	border:0px !important;
}

.titleValue{
	font-weight: 500;
}

.topDesc{
	color:#ffffff;
	line-height: 48px;
	float: right;
	text-align: right;
}

.bgCardItem{
	background-color: #fff;
}

.maskRs{
	display: none;
}

.titleForm{
	border-bottom: 4px solid #efe104;
    position: relative;
    font-size: 14px;
    padding: 0 0 3px 10px;
}


@media (min-width: 426px) and (max-width:1920px) {
	.titleArtigo{
		text-align: left;
    	font-size: 21px;
    	margin: 10px 0 0px 7px;
    	font-weight: 600;
	}

	.titleReduzido{
	    text-align: left;
    	margin-left: 7px;
    	color: #aaa;
    	font-weight: 600;
    	font-size: 15px;
	}

	.portlet.light.bordered>.portlet-title {
	    border-bottom: 1px solid #eae502;
	    background-color: #eae502;
	    margin: -12px -20px 0;
	    padding-left: 10px;
	    padding-top: 4px;
	}

	.topNegative{
	    text-align: center;
    	max-width: 1280px;
    	margin: 0 auto;
    	background-color: #fff;
	}

	.infoDados{
	    background-color: #fff;
	    border-radius: 6px !important;
	    padding: 15px;
	    text-align: center;
	    width: 23%;
	    margin: 20px 1%;
	}

	.infoOrigem{
 	    font-weight: 400;
    	margin-bottom: 15px;
		font-size: 12px;
	    color:#aaa;
    	text-align: left;
	}

	.infoOrigem span{
		font-size: 20px;
		color: #1f201c;
	}

	.infoDisponivel{
   		font-size: 12px;
    	width: 100%;
    	text-align: left;
    	color: #aaa;
	}

	.infoDisponivel span{
		font-size: 19px;
		color: #1f201c;
		margin-bottom: 4px;
	}

	.infoPedido{
		font-size: 12px;
    	width: 100%;
    	text-align: left;
    	color: #aaa;
	}

	.infoPedido span{
		font-size: 19px;
		color: #1f201c;
	}

	.tableValue{
		margin-bottom: 6px;
		font-weight: 400;
	}

	/*.contentProducts{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-left: -16px;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}*/


	.products3{
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-align: stretch;
	    -webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	    align-items: stretch;
	    height: 100%;
	}

	.contentProducts{
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-left: -16px;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    max-width: 1280px;
    	margin: 0 auto;
	}

	.productReturn{
	    display: block;
	    padding: 12px 20px 20px 20px;
	    margin: 20px 10px;
	    border-radius: 4px;
	    background-color: #FFFFFF;
	    -webkit-box-shadow: 0 2px 9px 0 rgba(158, 184, 209, 0.41);
	    box-shadow: 0 2px 9px 0 rgba(158, 184, 209, 0.41);
	    position: relative;
	}

	.products2 {
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 16px;
	    width: 234px;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.products2 figure{
		width: 100%;
	    height: 180px;
	    position: relative;
	    margin-bottom: 8px;
	    padding: 0;
	}

	.imgProduct{
		-webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    margin: auto;
	    overflow: hidden;
	}

	.imgProduct img{
		width: 100%;
	    height: 100%;
	    -webkit-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	    transform: translateX(0%);
	    -webkit-transition: -webkit-transform 0.5s;
	    transition: -webkit-transform 0.5s;
	    transition: transform 0.5s;
	    transition: transform 0.5s, -webkit-transform 0.5s;
	    white-space: nowrap;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}

	.contentProduct{
		width: 100%;
		height: 100%;
	    position: relative;
	}

	.artigo{
		font-size: 16px;
		font-weight: bold;
		padding-top: 2px;
		margin-bottom: 2px;
	}

	.reduzido{
		font-weight: 400;
		color: #bbb;
		font-size: 14px;
	    width: 100%;
	    margin-bottom: 16px;
	    min-height: 100px;
	}

	.bottomDetails{
		padding: 12px;
	    width: 100%;
	    border-top: 1px solid rgba(124, 124, 124, 0.19);
	    margin-bottom: -35px;
	}

	.priceTable{
		font-size: 18px;
    	padding: 13px 7px 10px;
    	font-weight: bold;
	}

	.portlet.light {
    	padding: 0;
 		background-color: transparent;
 		margin-bottom: 0px;
	}

	.topResults{
    	background-color: #fff;
    	padding: 15px 20px 27px;
    	border-radius: 8px !important;
    	margin: 5px -20px 0;
	}

	.imgReduzido{
		max-width: 425px;
		width: 100%;
	}

	.middle-area{
		width: 100%;
		display: flex;
	}

	.titleValue{
		font-size: 13px;
    	color: #aaa;
	}

	.unidadeItem{
		margin: 30px 0 -3px 0;
	    font-size: 17px;
	    font-weight: 600;
	}

	.delimiterWeb{
		max-width:425px;
		margin: 0 auto;
	}

	.delimiterOrig{
		max-width:600px;
		margin: 0 auto;
	}

	.maskRs{
		display: block;
		position: absolute;
	}

	.maskMoeda{
		margin-left: 15px;
	}

	.infoPrevisao{
		font-size: 12px;
	    width: 100%;
	    text-align: left;
	    color: #aaa;
	    margin-bottom: 5px;
	}

	.infoPrevisao span{
		font-size: 14px;
	    color: #1f201c;
	}

		
}


/**  Configuração CSS do modo Mobile  **/
@media (min-width: 321px) and (max-width:425px) {
	.titleArtigo{
		text-align: left;
    	font-size: 20px;
    	margin: 0 0 5px 7px;
    	font-weight: 600;
	}

	.titleReduzido{
	    text-align: left;
    	margin-left: 7px;
    	color: #aaa;
    	font-weight: 600;
    	font-size: 15px;
	}

	.imgReduzido{
		width: 100%;
		max-width: 425px;
	}

	.topResults{
    	background-color: #fff;
    	padding: 8px 20px 27px;
    	border-radius: 8px !important;
    	margin: 5px -20px 0;
	}

	.portlet.light.bordered>.portlet-title {
	    background-color: #eae502;
	    margin: -33px -46px 0;
	    padding: 4px 0 0 15px;
	}

	.mediaQ {
		margin: -33px -33px 0 !important;
	}

	.portlet.light.bordered{
		border-radius: 5px !important;
	}

	.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    	background-color: #eae502 !important;
    	color: #1f201c !important;
	}

	.page-quick-sidebar-wrapper {
	    transition: right .3s;
	    z-index: 10500;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    width: 100%;
	    right: -100%;
	    overflow: hidden;
	    color: #1c1c1d;
	    background: #e0e0e0;
	}

	.priceTable{
		font-size: 18px;
    	padding: 13px 7px 10px;
    	font-weight: bold;
	}

	.reduzido{
	    margin-top: -2px;
    	font-weight: 500;
    	font-size: 12px;
    	color: #aaa;
    	padding: 2px 1px 0;
	}

	.artigo{
    	font-size: 18px;
    	font-weight: bold;
    	padding-top: 2px;
	}

	.topNegative{
		text-align: center;
	    margin: -15px auto 25px;
	}

	.portlet.light {
    	padding: 12px 20px 0;
    	background-color: #fff;
    	border: none !important;
	}

	.portlet.light.bordered {
    	border: none !important;
	}

	.infoDados{
		background-color: #fff;
		padding: 10px;
	    text-align: center;
	    float: left;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.page-header.navbar .top-menu {
	    display: block;
	    clear: none;
	    float: none;
	}

	#products{
	    background-color: #fff;
	    float: left;
	    width: 100%;
	    margin: 20px 0;
	    height: 145px;
	}

	.imgProduct{
		float: left;
		padding-right: 10px;
		z-index: 999;
    	position: relative;
	}

	.imgProduct img{
		max-width: 145px;
	}

	.contentProduct{
		width: 100%;
		height: 100%;
	    position: relative;
	}

	.bottomDetails{
		position: absolute;
		bottom: 0;
	    width: 100%;
	    text-align: left;
	    padding: 0 14px 5px 0;
	    color: #aaa;
	    margin-left: 155px;
	}

	.infoOrigem{
	    font-size: 12px;
	    width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: left;
    	display: block;
	}

	.infoOrigem span{
		font-size: 20px;
		color: #1f201c;
	}

	.infoDisponivel{
   		font-size: 12px;
    	width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: right;
	}

	.infoDisponivel span{
		font-size: 20px;
		color: #1f201c;
	}

	.infoPedido{
		font-size: 12px;
    	width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: right;
	}

	.infoPedido span{
		font-size: 20px;
		color: #1f201c;
	}

	.topDesc{
		color:#ffffff;
		line-height: 25px;
		float: right;
		text-align: right;
	}

	.middle-area{
		margin-top: 10px;
	}

	.titleValue{
		font-size: 13px;
    	color: #aaa;
	}

	.unidadeItem{
		margin: 30px 0 -3px 0;
	    font-size: 17px;
	    font-weight: 600;
	}

	.infoPrevisao{
		font-size: 12px;
	    width: 25%;
	    text-align: left;
	    color: #aaa;
	    margin-bottom: 5px;
	    float: left;
	    display: block;
	}

	.infoPrevisao span{
		font-size: 14px;
   		color: #1f201c;
	}
}

@media (max-width:320px) {
	.titleArtigo{
		text-align: left;
    	font-size: 20px;
    	margin: 0 0 5px 7px;
    	font-weight: 600;
	}

	.titleReduzido{
		text-align: left;
    	margin-left: 7px;
    	color: #aaa;
    	font-weight: 600;
    	font-size: 15px;
	}

	.imgReduzido{
		width: 100%;
		max-width: 320px;
	}

	.topResults{
    	background-color: #fff;
    	padding: 16px 20px 27px;
    	border-radius: 8px !important;
    	margin: 5px -20px 0;
	}

	.portlet.light.bordered>.portlet-title {
	    background-color: #eae502;
	    margin: -33px -46px 0;
	    padding: 4px 0 0 15px;
	}

	.portlet.light>.portlet-title>.caption>.caption-subject {
    	font-size: 15px;
	}

	.container, .container-fluid {
    	padding-left: 0;
    	padding-right: 0;
    	font-size: 15px;
	}

	.portlet.light {
    	padding: 12px 20px 0;
    	background-color: transparent;
	}

	.portlet.light.bordered {
    	border: none !important;
	}
	
	.topNegative{
		text-align: center;
   		margin: -25px auto 20px;
	}

	.infoDados{
		background-color: #fff;
		padding: 10px;
	    text-align: center;
	    float: left;
	    width: 100%;
	    margin-bottom: 10px;
	}

	.priceTable{
		font-size: 18px;
    	padding: 13px 7px 10px;
    	font-weight: bold;
	}

	.reduzido{
	    margin-top: -2px;
    	font-weight: 500;
    	font-size: 12px;
    	color: #aaa;
    	padding: 2px 0 0;
	}

	.artigo{
    	font-size: 16px;
    	font-weight: bold;
    	padding-top: 2px;
	}

	.page-header.navbar .top-menu {
	    display: block;
	    clear: none;
	    float: none;
	}
	
	#products{
	    background-color: #fff;
	    float: left;
	    width: 100%;
	    margin: 20px 0;
	    height: 145px;
	}

	.imgProduct{
		float: left;
		padding-right: 10px;
		z-index: 999;
    	position: relative;
	}

	.imgProduct img{
		max-width: 145px;
	}

	.contentProduct{
		width: 100%;
		height: 100%;
	    position: relative;
	}

	.bottomDetails{
		position: absolute;
    	bottom: 0;
    	width: 100%;
    	text-align: center;
    	padding: 0 14px 5px 0;
    	color: #aaa;
	    margin-left: 22%;
	}

	.infoOrigem{
	    font-size: 12px;
	    width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: left;
	}

	.infoOrigem span{
		font-size: 20px;
		color: #1f201c;
	}

	.infoDisponivel{
   		font-size: 12px;
    	width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: right;
	}

	.infoDisponivel span{
		font-size: 20px;
		color: #1f201c;
	}

	.infoPedido{
		font-size: 12px;
    	width: 25%;
    	float: left;
    	color:#aaa;
    	text-align: right;
	}

	.infoPedido span{
		font-size: 20px;
		color: #1f201c;
	}

	.mediaQ {
		margin: -33px -33px 0 !important;
	}

	.topDesc{
		color:#ffffff;
		line-height: 23px;
		float: right;
		text-align: right;
	}

	.middle-area{
		margin-top: 10px;
	}

	.titleValue{
		font-size: 13px;
    	color: #aaa;
	}

	.unidadeItem{
		margin: 30px 0 -3px 0;
	    font-size: 17px;
	    font-weight: 600;
	}

	.infoPrevisao{
		font-size: 12px;
	    width: 25%;
	    text-align: left;
	    color: #aaa;
	    margin-bottom: 5px;
	    float: left;
	    display: block;
	}

	.infoPrevisao span{
		font-size: 14px;
   		color: #1f201c;
	}
}