{literal}
	<script>
		
		$('#btn_load').click(function() {App.blockUI({target: '#conteudo', animate: true }); });
		
		$("#add_cep").inputmask("99999-999", {"placeholder": "_____-___"});
		$("#edit_cep").inputmask("99999-999", {"placeholder": "_____-___"});
		
		function oculta_msg(div){
			setTimeout(function() {$('#'+div).fadeOut('slow');}, 5000);
		}
		
		function topo(){
			$('html, body').animate({scrollTop : 0},800);
		}
		
		function tela_load(){
			$.App.blockUI({target: '#conteudo', animate: true });
		}
		
		
		
		function fMasc(objeto,mascara) {
			obj=objeto
			masc=mascara
			setTimeout("fMascEx()",1)
		}
		function fMascEx() {
			obj.value=masc(obj.value)
		}
		function mTel(tel) {
			tel=tel.replace(/\D/g,"")
			tel=tel.replace(/^(\d)/,"($1")
			tel=tel.replace(/(.{3})(\d)/,"$1) $2")
			if(tel.length == 9) {
				tel=tel.replace(/(.{1})$/,"-$1")
			} else if (tel.length == 10) {
				tel=tel.replace(/(.{2})$/,"-$1")
			} else if (tel.length == 11) {
				tel=tel.replace(/(.{3})$/,"-$1")
			} else if (tel.length == 12) {
				tel=tel.replace(/(.{4})$/,"-$1")
			} else if (tel.length > 12) {
				tel=tel.replace(/(.{4})$/,"-$1")
			}
			return tel;
		}
		function mCel(cel) {
			cel=cel.replace(/\D/g,"")
			cel=cel.replace(/^(\d)/,"($1")
			cel=cel.replace(/(.{3})(\d)/,"$1) $2")
			if(cel.length == 9) {
				cel=cel.replace(/(.{1})$/,"-$1")
			} else if (cel.length == 10) {
				cel=cel.replace(/(.{2})$/,"-$1")
			} else if (cel.length == 11) {
				cel=cel.replace(/(.{3})$/,"-$1")
			} else if (cel.length == 12) {
				cel=cel.replace(/(.{4})$/,"-$1")
			} else if (cel.length > 12) {
				cel=cel.replace(/(.{4})$/,"-$1")
			}
			return cel;
		}
		function mCNPJ(cnpj){
			cnpj=cnpj.replace(/\D/g,"")
			cnpj=cnpj.replace(/^(\d{2})(\d)/,"$1.$2")
			cnpj=cnpj.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3")
			cnpj=cnpj.replace(/\.(\d{3})(\d)/,".$1/$2")
			cnpj=cnpj.replace(/(\d{4})(\d)/,"$1-$2")
			return cnpj
		}
		function mCPF(cpf){
			cpf=cpf.replace(/\D/g,"")
			cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
			cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
			cpf=cpf.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
			return cpf
		}
		function mCEP(cep){
			cep=cep.replace(/\D/g,"")
			cep=cep.replace(/^(\d{2})(\d)/,"$1.$2")
			cep=cep.replace(/\.(\d{3})(\d)/,".$1-$2")
			return cep
		}
		function mNum(num){
			num=num.replace(/\D/g,"")
			return num
		}
		function mData(data){
			data=data.replace(/\D/g,"")
			data=data.replace(/(\d{2})(\d)/,"$1/$2")
			data=data.replace(/(\d{2})(\d)/,"$1/$2")
			
			return data
		}
		function mCep(data){
			data=data.replace(/\D/g,"")
			data=data.replace(/(\d{2})(\d)/,"$1.$2")
			data=data.replace(/(\d{3})(\d)/,"$1-$2")
			
			return data
		}
		function mHora(data){
			data=data.replace(/\D/g,"")
			data=data.replace(/(\d{2})(\d)/,"$1:$2")
			
			return data
		}
		
	</script>
	
{/literal}
{literal}
        <!--[if lt IE 9]>
		<script src="../includes/assets/global/plugins/respond.min.js"></script>
		<script src="../includes/assets/global/plugins/excanvas.min.js"></script> 
		<script src="../includes/assets/global/plugins/ie8.fix.min.js"></script> 
		<![endif]--> 
        <!-- BEGIN CORE PLUGINS -->
        <script src="../includes/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!--script src="../includes/assets/global/plugins/moment.min.js" type="text/javascript"></script-->
        <script src="../includes/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <!--script src="../includes/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script-->
        <script src="../includes/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../includes/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../includes/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../includes/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../includes/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../includes/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../includes/assets/global/plugins/bootstrap-table/bootstrap-table.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
		
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../includes/assets/pages/scripts/table-bootstrap.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
		<script src="../includes/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
		<script src="../includes/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/components-select2.js" type="text/javascript"></script>
		<script src="../includes/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
        <script src="../includes/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
		<script src="../includes/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/form-input-mask.min.js" type="text/javascript"></script>
		
		<script src="../includes/assets/global/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
		
		<script src="../includes/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/components-bootstrap-tagsinput.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/ui-blockui.min.js" type="text/javascript"></script>
		
		<script src="../includes/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/components-bootstrap-touchspin.min.js" type="text/javascript"></script>
		
		<script src="../includes/assets/global/plugins/maskmoney/src/jquery.maskMoney.js" type="text/javascript"></script>
		
		<script src="../includes/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
        <script src="../includes/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
		<script src="../includes/assets/pages/scripts/components-color-pickers.min.js" type="text/javascript"></script>
		
		<!--script src="../includes/assets/pages/scripts/charts-morris.min.js" type="text/javascript"></script-->
		
		<script src="../includes/assets/pages/scripts/table-datatables-ajax.js" type="text/javascript"></script>

		

        
		

{/literal} 
